// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.static_pages_controller.home_action {
	background-image: url(image-path('home-background.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: auto 100%;
}
